name: PR Check
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm turbo build

  type-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm turbo build --filter='./packages/*'

      - name: Type Check
        run: pnpm turbo type-check

  biome-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Biome Check
        run: pnpm biome

  # test:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 10
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Set up pnpm
  #       uses: pnpm/action-setup@v4
  #       with:
  #         version: 10.24.0

  #     - name: Install dependencies
  #       run: pnpm install --frozen-lockfile

  #     - name: Build packages
  #       run: pnpm build

  #     - name: Run tests
  #       run: |
  #         pnpm --filter mypages test:coverage
  #         pnpm --filter @my-pages/errors test:run
  #         pnpm --filter @my-pages/logger test:run
